<a href="https://colab.research.google.com/github/AdnanRizvi-cloud/sample1/blob/master/AI2_assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given  the  lengths  of  three  sides  of  a  triangle,  calculate  the  area  of the triangle.

In [ ]:
a=float(input("Enter length of 1st side of a triangle:"))  
b=float(input("Enter length of 2nd side of a triangle:"))  
c=float(input("Enter length of 3rd side of a triangle:"))  
if(a+b>c):
  s=(a+b+c)/2  
  area=(s*(s-a)*(s-b)*(s-c))**(1/2)
  print("The area of the triangle is= ", round(area,2))
else:
  print("The triangle is not possible")

Enter length of 1st side of a triangle:10
Enter length of 2nd side of a triangle:10
Enter length of 3rd side of a triangle:10
The area of the triangle is=  43.3

2.Take a string from end user and check if the value is palindrome or not

In [ ]:
s=input("Enter a string:")
if(s==s[::-1]):
    print("Given string {} is palindrome".format(s))
else:
    print("Given string {} is not palindrome".format(s))

Enter a string:1010
Given string 1010 is not palindrome

3.  Write a program that reads a year from the user and displays a message Indicating whether or not it is a leap year.

In [ ]:
year=int(input("Enter the year:"))
if(year%4==0 and year%100!=0 or year%400==0):
    print("{} The entered year is leap year".format(year))
else:
    print("{} The entered year is not a leap year".format(year))

Enter the year:2020
2020 The entered year is leap year

4.   Space To Hyphen problem Take a string as input, and replaces spaces “ “  with hyphens “-”, and returns a string.Input: “ This program converts spaces into hyphen”      Output:     “ This-program-converts-spaces-into-hyphen”

In [ ]:
n=input("Enter a string : ")
print(n.replace(' ','-'))

Enter a string : adnan rizvi
adnan-rizvi

5.  Unique Sort problem Take  a  string  as  input  that  accepts  a  comma  separated  sequence  of  words as input and prints the unique words in sorted form (alphanumerically).*Input*: orange, white, red, cyan, green, magenta, cyan, pink, white*Output*: cyan, green, magenta, orange, pink, red, white

In [ ]:
str=input("Enter a string: ")
s=str.split()
s.sort()
list(s)
set(s)

Enter a string: orange,white,red,cyan,magenta,cyan,pink,white

{'orange,white,red,cyan,magenta,cyan,pink,white'}

6.Tax CalculatorAsk  the  user  for  their  monthly  salary.  Calculate  whether  they  have  to  pay tax and if so, how much is that amount .Print the result

In [ ]:
salary=int(input("Enter the salary : "))
if (salary>=0) and (salary<=250000):
    tax=(salary*0)
elif (salary>250000) and (salary<=500000):
    tax=(salary*0.05)
elif (salary>500000) and (salary<=750000):
    tax=(salary*0.1)
elif (salary>750000) and (salary<=1000000):
    tax=(salary*0.15)
elif (salary>1000000) and (salary<=1250000):
    tax=(salary*0.2)
elif (salary>1250000) and (salary<=1500000):
    tax=(salary*0.25)
else:
    tax=(salary*0.3)
print("Tax is : ",tax)

Enter the salary : 1500000
Tax is :  375000.0

7.Take a list of integers as an argument, and converts it into a single integer (return the integer).*Input*: [11, 33, 50]*Output*: 113350

In [ ]:
l=[11,33,50]
for i in l:
  print(i,end="")

113350

8.Units of Time
Create  a  program  that  reads  duration  from  the  user  as  a  number  of  days, hours,  minutes,  and  seconds.  Compute  and  display  the  total  number  of seconds represented by this duration.

In [ ]:
secondspermin=60
secondsperhour=3600
secondsperday=86400
days=int(input("Enter the number of Days: "))
hours=int(input("Enter the number of Hours: "))
minutes=int(input("Enter the number of Minutes: "))
seconds=int(input("Enter the number of Seconds: "))
totalseconds=days*secondsperday
totalseconds=totalseconds+(hours*secondsperhour)
totalseconds=totalseconds+(minutes*secondspermin)
totalseconds=totalseconds+seconds
print("Total number of seconds = ","%d"%(totalseconds))

9.Sort 3 IntegersGiven  three  integers  (given  through  user  input),  sort  the  numbers  using |min| and  |max| functions.

In [ ]:
a=int(input("Enter the number of a:"))
b=int(input("Enter the number of b:"))
c=int(input("Enter the number of c:"))
d=min(a,b,c)
e=max(a,b,c)
f=(a+b+c)-d-e
print("The Sorted order is:",d,f,e)

Enter the number of a:1
Enter the number of b:23
Enter the number of c:24
The Sorted order is: 1 23 24

10.Write  a  program  that  reads  a  date  from  the  user  and  computes  its immediate successor. The date is the format YYYY-MM-DD. So, 2020-04-15 will have the successor 2020-04-16.

In [ ]:
year=int(input("Enter a year : "))
if year%400== 0:
    leapyear=True
elif year%100==0:
    leapyear=False
elif year%4==0:
    leapyear=True
else:
    leapyear=False
month=int(input("Enter a month between 1 to 12 : "))
if month in (1, 3, 5, 7, 8, 10, 12):
    monthlength=31
elif month==2:
    if leapyear:
        monthlength=29
    else:
        monthlength=28
else:
    monthlength=30
day=int(input("Enter a day between 1 to 31 : "))
if day<monthlength:
    day+=1
else:
    day=1
    if month==12:
        month=1
        year+=1
    else:
        month+=1
print("The immediate successor is YYYY-MM-DD : %d-%d-%d." %(year,month,day))

Enter a year : 2000
Enter a month between 1 to 12 : 11
Enter a day between 1 to 31 : 18
The immediate successor is YYYY-MM-DD : 2000-11-19.

11.Compute product of a list of numbers [45 ,3,2,89,72,1,10,7]Output: 121111200

In [ ]:
list=[45,3,2,89,72,1,10,7]
n=1
for i in range(len(list)):
    n=n*list[i]
print(n)

121111200

12.Compute given Num_list =  [5, 6,8 ,34,89,1] to get desired outputOutput: Out_list=[11,14,42,123,90]

In [ ]:
l=[5,6,8,34,89,1]
Out_list=[]
for i in range(len(l)-1):
    ol=l[i]+l[i+1]
    Out_list.append(ol)
print("Out_list=",Out_list)

Out_list= [11, 14, 42, 123, 90]

13. Compute given Num_tuple =  (5, 6,8 ,3,9,1) to get desired outputOutput: Out_list = [5, 30, 240, 720, 6480, 6480]

In [ ]:
n=(5,6,8,3,9,1)
Out_list=[]
Out_list.append(n[0])
for i in range(len(n)-1):
    m=Out_list[i]*n[i+1]
    Out_list.append(m)
print("Out_list=",Out_list)

Out_list= [5, 30, 240, 720, 6480, 6480]

14. Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2]

In [ ]:
number=input("Enter a number: ")
list=[]
for n in range(len(number)):
    list.append(number[n])
print(list)

Enter a number: 586392
['5', '8', '6', '3', '9', '2']

15.Write a program that finds the longest palindromic substring of a given string

In [ ]:
def longestpalindrome(n):
    d=[[False for i in range(len(n))] for i in range(len(n))]
    for i in range(len(n)):
        d[i][i]=True
    maxlen=1
    start=0
    for j in range(2,len(n)+1):
        for i in range(len(n)-j+1):
            end=i+j
            if j==2:
                if n[i]==n[end-1]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
            else:
                if n[i]==n[end-1] and d[i+1][end-2]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
    return n[start:start+maxlen]
n=input("Enter a string: ")
print(longestpalindrome(n))

Enter a string: 123
1

16. Substring Check (Bug Funny)Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is a substring of A and 0 otherwise.First two lines of input:1010110010          101101110111011           10011First two lines of output:10

In [ ]:
t=int(input())
for i in range(t):
  A,B=input("Enter A string and B string : ").split()
  if B in A:
    print("1")
  else:
    print("0")

1010110010
Enter A string and B string : 1010110010 1110111011
0
Enter A string and B string : 10110 10011
0

17.  POUR1 - Pouring waterGiven two vessels, one of which can accommodate a litres of water and the other - b litres   of   water,   determine   the   number   of   steps   required   to   obtain exactly c litres of water in one of the vessels.At the beginning both vessels are empty. The following operations are counted as 'steps':emptying a vessel,filling a vessel,pouring water from one vessel to the other, without spilling, until one of the vessels is either full or empty.InputAn integer t, 1<=t<=100, denoting the number of testcases , followed by t sets of input  data,  each  consisting  of  three  positive  integers a,  b,  c,  not  larger  than 40000, given in separate lines.OutputFor each set of input data, output the minimum number of steps required to obtain c litres, or -1 if this is impossible.

In [ ]:
t=int(input("number of test case"))
for i in range(t):
  a,b,c=map(int,input("enter a b c").split())
  if a>b:
    d=a-b
  elif a<b:
    d=b-a
  if c==a or c==b:
    print("1")
  elif d==c:
    print("2")
  else:
    print("-1")

number of test case5
enter a b c1 25 26
-1
enter a b c21 22 23
-1
enter a b c22 22 22
1
enter a b c45 45 45
1
enter a b c0 0 0
1